<launch>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="5.0"/>
    <param name="xmin" value="-20.0"/>
    <param name="ymin" value="-20.0"/>
    <param name="xmax" value="20.0"/>
    <param name="ymax" value="20.0"/>
    <param name="delta" value="0.1"/>
    <param name="maxRange" value="5.0"/>
    <param name="temporalUpdate" value="0.1"/>

    <param name="sigma" value="0.2"/>
    <param name="lsigma" value="0.1"/>
    <param name="srr" value="0.2"/>
    <param name="srt" value="0.4"/>
    <param name="str" value="0.2"/>
    <param name="stt" value="0.4"/>

    <param name="transform_publish_period" value="0.4"/>

  </node>

  <node name="nxt_slam_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find nxt_slam)/rviz/nxt_slam.rviz">
  </node>

  <node name="nxt_slam_communication" pkg="nxt_slam" type="nxt_communication.py" />

</launch>
